language: php

php:
  - 5.6
  - 7.0
  - 7.1

install:
  - composer update --no-interaction --no-ansi --no-progress --no-suggest --optimize-autoloader --prefer-stable --prefer-lowest

script: vendor/bin/phpunit

notifications:
  email: false