<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="FedEx API Wrapper Test Suite">
            <directory>./tests/FedEx/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/logs/report" lowUpperBound="35" highLowerBound="70"/>
        <!--<log type="coverage-clover" target="tests/logs/coverage.xml"/>-->
        <!--<log type="coverage-php" target="tests/logs/coverage.serialized"/>-->
        <!--<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>-->
        <!--<log type="junit" target="tests/logs/logfile.xml" logIncompleteSkipped="false"/>-->
        <!--<log type="testdox-html" target="tests/logs/testdox.html"/>-->
        <!--<log type="testdox-text" target="tests/logs/testdox.txt"/>-->
    </logging>
    <php>
    </php>
</phpunit>
