<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true">

    <testsuite name="Fedex Web Services Wrapper for PHP">
        <directory>./library/FedEx/UnitTests/RateService</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../library/FedEx</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./logs/coverage-report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" />
        <log type="testdox-html" target="./logs/testdox.html" />
    </logging>

</phpunit>